/.idea/
/server/dist/controllers/flightIndicatorController.js
/server/dist/entities/FlightIndicator.js
/server/dist/routes/flightIndicatorRoutes.js
/server/dist/services/flightIndicatorService.js
/server/dist/server.js
/server/dist/
/server/.idea/
/client/node_modules/
/client/public/
/node_modules/dotenv/lib/cli-options.js
/node_modules/dotenv/lib/env-options.js
/node_modules/dotenv/lib/main.d.ts
/node_modules/dotenv/lib/main.js
/node_modules/dotenv/CHANGELOG.md
/node_modules/dotenv/config.d.ts
/node_modules/dotenv/config.js
/node_modules/dotenv/LICENSE
/node_modules/dotenv/package.json
/node_modules/dotenv/README.md
/node_modules/dotenv/README-es.md
/node_modules/.package-lock.json
