/.idea/
/server/dist/controllers/flightIndicatorController.js
/server/dist/entities/FlightIndicator.js
/server/dist/routes/flightIndicatorRoutes.js
/server/dist/services/flightIndicatorService.js
/server/dist/server.js
/server/dist/
/server/.idea/
/client/node_modules/
/client/public/
